* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

body {
  background-color: black; }

.container {
  max-height: 1420px;
  margin: auto; }

header {
  background-color: black; }
  header .pre-header {
    background: -webkit-gradient(linear, left top, right top, from(#060606), to(#2e2e2e));
    background: linear-gradient(to right, #060606 0%, #2e2e2e 100%);
    height: 30px;
    padding-top: 5px; }
    header .pre-header ul {
      list-style: none;
      float: right; }
      header .pre-header ul li {
        display: inline-block;
        margin-right: 25px;
        margin: 5px; }
        header .pre-header ul li:first-child a {
          color: #f97000; }
          header .pre-header ul li:first-child a:hover {
            color: #f97000;
            text-decoration: underline; }
        header .pre-header ul li a {
          color: #848484; }
          header .pre-header ul li a:hover {
            color: white; }
  header nav {
    padding: 15px;
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 2; }
    header nav ul {
      list-style: none; }
      header nav ul li {
        display: inline-block;
        margin-left: 30px;
        position: relative;
        top: -20px; }
        header nav ul li:first-child {
          top: -5px; }
          header nav ul li:first-child img {
            width: 200px; }
          header nav ul li:first-child a:hover:after {
            display: none; }
        header nav ul li a {
          font-size: 16px;
          color: white;
          text-transform: uppercase;
          position: relative; }
          header nav ul li a:hover:after {
            content: '';
            display: block;
            background-color: white;
            height: 2px;
            width: 100%;
            position: absolute; }

section.hero h1 {
  font-size: 68px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px; }
  section.hero h1 span {
    font-weight: 600;
    background-image: -webkit-linear-gradient(145deg, #a2fe73, #35fdb2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear; }

section.hero video {
  width: 100%; }

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(-360deg); } }

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(-360deg); } }

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1b1b1b), to(#373737));
  background-image: linear-gradient(to top, #1b1b1b 0%, #373737 100%);
  padding-bottom: 100px; }
  @media (max-width: 1050px) {
    .featured {
      width: 100%; } }
  @media (max-width: 860px) {
    .featured {
      display: block; } }
  .featured-item {
    margin-top: -160px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    z-index: 1; }
    @media (max-width: 1050px) {
      .featured-item {
        margin: 10px; } }
    @media (max-width: 1050px) {
      .featured-item {
        padding: -25px; } }
    @media (max-width: 490px) {
      .featured-item {
        font-size: 14px;
        margin-top: 0; } }
    .featured-item img {
      width: 400px; }
      @media (max-width: 1200px) {
        .featured-item img {
          width: 350px; } }
      @media (max-width: 1050px) {
        .featured-item img {
          width: 300px; } }
      @media (max-width: 980px) {
        .featured-item img {
          width: 250px; } }
      @media (max-width: 860px) {
        .featured-item img {
          width: 400px; } }
      @media (max-width: 490px) {
        .featured-item img {
          width: 250px; } }
    .featured-item p {
      max-width: 300px;
      margin: auto; }
      @media (max-width: 860px) {
        .featured-item p {
          padding-bottom: 80px; } }

section.products {
  padding-top: 100px;
  padding-bottom: 100px; }
  section.products h2 {
    color: white;
    max-width: 1000px;
    text-align: center;
    font-size: 38px;
    font-weight: 300;
    margin: auto;
    margin-bottom: 70px; }
  section.products .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 200px; }
    section.products .container .products-item {
      height: 320px;
      width: 400px;
      color: white;
      position: relative; }
      section.products .container .products-item:hover {
        -webkit-transition: 0.4s;
        transition: 0.4s; }
        section.products .container .products-item:hover .overlay {
          display: block;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0; }
      section.products .container .products-item.products-kayboard {
        background-image: url("../img/products-1.jpg"); }
      section.products .container .products-item.products-headset {
        background-image: url("../img/products-2.jfif"); }
      section.products .container .products-item .products-info {
        padding: 30px; }
        section.products .container .products-item .products-info h3 {
          font-size: 32px;
          font-weight: 400; }
        section.products .container .products-item .products-info p {
          font-size: 18px; }
      section.products .container .products-item .overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; }
        section.products .container .products-item .overlay a {
          color: black;
          display: block;
          margin-top: 45%;
          background-color: white;
          width: 90px;
          margin: 35%;
          padding: 10px; }
