* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

body {
  background-color: black; }

.container {
  max-height: 1420px;
  margin: auto; }

.dole {
  height: 500px; }

header {
  background-color: black; }
  header .pre-header {
    background: -webkit-gradient(linear, left top, right top, from(#060606), to(#2e2e2e));
    background: linear-gradient(to right, #060606 0%, #2e2e2e 100%);
    height: 30px;
    padding-top: 5px; }
    header .pre-header ul {
      list-style: none;
      float: right;
      margin-right: 10px; }
      header .pre-header ul li {
        display: inline-block;
        margin-right: 25px;
        margin: 5px; }
        @media (max-width: 991px) {
          header .pre-header ul li {
            margin-right: 0; } }
        header .pre-header ul li:first-child a {
          color: #f97000; }
          header .pre-header ul li:first-child a:hover {
            color: #f97000;
            text-decoration: underline; }
        header .pre-header ul li a {
          color: #848484; }
          header .pre-header ul li a:hover {
            color: white; }
  header nav {
    padding-top: 15px;
    background-color: black;
    width: 100%;
    z-index: 2; }
    @media (max-width: 991px) {
      header nav {
        position: relative; } }
    header nav.fixed-nav {
      position: fixed;
      top: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    header nav .hamburger-menu-button {
      background-color: transparent;
      border: none;
      font-size: 38px;
      color: white;
      display: none;
      padding: 20px;
      outline: none; }
      header nav .hamburger-menu-button .fa-times {
        display: none; }
      header nav .hamburger-menu-button.opened .fa-times {
        display: block; }
      header nav .hamburger-menu-button.opened .fa-bars {
        display: none; }
      header nav .hamburger-menu-button :hover {
        color: blue; }
      @media (max-width: 991px) {
        header nav .hamburger-menu-button {
          display: block; } }
    header nav .logo-mobile {
      text-align: center;
      margin-top: -65px;
      display: none; }
      @media (max-width: 991px) {
        header nav .logo-mobile {
          display: block; } }
      header nav .logo-mobile a img {
        height: 40px; }
    header nav ul {
      list-style: none;
      float: left; }
      @media (max-width: 991px) {
        header nav ul {
          display: none;
          width: 100%;
          position: absolute;
          background-color: black;
          left: 0;
          right: 0; } }
      header nav ul li {
        display: inline-block;
        margin-left: 30px;
        position: relative;
        top: -20px; }
        header nav ul li:first-child {
          top: -5px; }
          header nav ul li:first-child img {
            width: 200px; }
          header nav ul li:first-child a:hover:after {
            display: none; }
        @media (max-width: 991px) {
          header nav ul li {
            display: block;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 25px;
            font-weight: 600;
            letter-spacing: 3px; } }
        @media (max-width: 991px) {
          header nav ul li:first-child {
            display: none; } }
        header nav ul li a {
          font-size: 16px;
          color: white;
          text-transform: uppercase;
          position: relative; }
          header nav ul li a:hover:after {
            content: '';
            display: block;
            background-color: white;
            height: 2px;
            width: 100%;
            position: absolute; }
    header nav .nav-right-side {
      float: right;
      margin-right: 50px;
      margin-top: -1px; }
      @media (max-width: 991px) {
        header nav .nav-right-side {
          position: absolute;
          top: 45px;
          right: 0; } }
      header nav .nav-right-side a {
        color: white;
        font-size: 25px; }
        header nav .nav-right-side a :hover {
          color: blue; }

section.hero h1 {
  font-size: 68px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  margin-top: 170px;
  margin-bottom: 70px; }
  @media (max-width: 991px) {
    section.hero h1 {
      margin-top: 70px; } }
  @media (max-width: 767px) {
    section.hero h1 {
      font-size: 49px; } }
  @media (max-width: 575px) {
    section.hero h1 {
      font-size: 38px; } }
  section.hero h1 span {
    font-weight: 600;
    background-image: -webkit-linear-gradient(145deg, #a2fe73, #35fdb2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear; }

section.hero video {
  width: 100%; }

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(-360deg); } }

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(-360deg); } }

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1b1b1b), to(#373737));
  background-image: linear-gradient(to top, #1b1b1b 0%, #373737 100%);
  padding-bottom: 100px; }
  @media (max-width: 1050px) {
    .featured {
      width: 100%; } }
  @media (max-width: 767px) {
    .featured {
      display: block; } }
  .featured-item {
    margin-top: -160px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    z-index: 1; }
    @media (max-width: 991px) {
      .featured-item {
        padding: 10px;
        margin-top: -100px; } }
    @media (max-width: 767px) {
      .featured-item {
        padding: 105px; } }
    @media (max-width: 575px) {
      .featured-item {
        font-size: 14px;
        margin-top: 0; } }
    .featured-item img {
      width: 400px; }
      @media (max-width: 1200px) {
        .featured-item img {
          width: 350px; } }
      @media (max-width: 1199px) {
        .featured-item img {
          width: 100%; } }
      @media (max-width: 991px) {
        .featured-item img {
          width: 250px; } }
      @media (max-width: 767px) {
        .featured-item img {
          width: 400px; } }
      @media (max-width: 575px) {
        .featured-item img {
          width: 250px; } }
    .featured-item p {
      max-width: 300px;
      margin: auto; }
      @media (max-width: 991px) {
        .featured-item p {
          padding-bottom: 80px; } }
      @media (max-width: 767px) {
        .featured-item p {
          font-size: 25px; } }
      @media (max-width: 767px) {
        .featured-item p {
          font-size: 18px; } }
    .featured-item a {
      position: absolute;
      bottom: -12%;
      left: 33%;
      text-align: center;
      padding: 10px 40px;
      background-color: rgba(242, 242, 242, 0.85);
      margin: 0 auto;
      color: #252525;
      border-radius: 50px;
      color: gray;
      font-size: 15px;
      text-transform: uppercase; }
      .featured-item a:hover {
        background-color: white;
        cursor: pointer;
        color: #252525; }

.roccat-science h3 {
  font-size: 24px;
  font-weight: 400;
  width: auto;
  text-align: center;
  color: white;
  padding: 100px 20px; }

.roccat-science h2 {
  color: white;
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 40px 10px; }

section.products {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white; }
  section.products h2 {
    color: black;
    max-width: 1000px;
    text-align: center;
    font-size: 58px;
    font-weight: 400;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 70px; }
    @media (max-width: 575px) {
      section.products h2 {
        font-size: 24px;
        padding: 15px; } }
    @media (max-width: 767px) {
      section.products h2 {
        font-size: 30px;
        padding: 15px; } }
  section.products .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    @media (max-width: 991px) {
      section.products .container {
        display: block;
        margin-left: 0px; } }
    @media (max-width: 767px) {
      section.products .container {
        display: block; } }
    @media (max-width: 575px) {
      section.products .container {
        display: block; } }
    section.products .container .products-item {
      height: 320px;
      width: 400px;
      color: white;
      position: relative;
      background-size: cover; }
      @media (max-width: 991px) {
        section.products .container .products-item {
          height: 750px;
          width: auto; } }
      @media (max-width: 767px) {
        section.products .container .products-item {
          height: 550px;
          width: auto; } }
      @media (max-width: 575px) {
        section.products .container .products-item {
          display: block; } }
      section.products .container .products-item:hover {
        -webkit-transition: 0.5s;
        transition: 0.5s;
        -webkit-box-shadow: 0 10px 35px 5px #0e0d0d;
        box-shadow: 0 10px 35px 5px #0e0d0d; }
        section.products .container .products-item:hover .overlay {
          display: block;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0; }
      section.products .container .products-item.products-kayboard {
        background-image: url("../img/products-1.jpg"); }
      section.products .container .products-item.products-headset {
        background-image: url("../img/products-2.jfif"); }
      section.products .container .products-item.products-mouse {
        background-image: url("../img/mouse.jpg"); }
      section.products .container .products-item.products-mousepad {
        background-image: url("../img/mouse-pad.jpg"); }
      section.products .container .products-item .products-info {
        padding: 30px; }
        section.products .container .products-item .products-info h3 {
          font-size: 32px;
          font-weight: 400; }
        section.products .container .products-item .products-info p {
          font-size: 18px; }
      section.products .container .products-item .overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; }
        section.products .container .products-item .overlay a {
          color: black;
          display: block;
          margin-top: 45%;
          background-color: white;
          width: 90px;
          margin: 33%;
          padding: 10px; }
          @media (max-width: 767px) {
            section.products .container .products-item .overlay a {
              margin-left: 295px; } }

.products-hero {
  background-image: url("../img/keyboards-hero.jpg");
  min-height: 480px;
  background-size: cover;
  margin-top: 50px;
  position: relative; }
  .products-hero-info {
    position: absolute;
    top: 150px;
    left: 90px; }
    .products-hero-info span {
      background-color: blue;
      padding: 10px 20px;
      color: white;
      margin-bottom: 25px; }
    .products-hero-info p {
      font-size: 28px;
      color: white;
      text-transform: uppercase;
      padding-top: 20px; }
    .products-hero-info h2 {
      font-size: 60px;
      color: white;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 40px; }
    .products-hero-info a {
      color: black;
      background-color: rgba(242, 242, 242, 0.85);
      padding: 15px 60px;
      border: 1px solid #2C2A34;
      border-radius: 50px;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 0.5px; }
      .products-hero-info a:hover {
        background-color: white;
        cursor: pointer; }

.products-list h1 {
  font-size: 77px;
  text-align: center;
  letter-spacing: 4px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 70px;
  margin-bottom: 20px; }

.products-list .products-description {
  text-align: center;
  color: #848484;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding-bottom: 50px; }

.products-list .products-filter {
  color: white;
  text-align: center;
  padding-bottom: 50px; }
  .products-list .products-filter li {
    display: inline-block;
    list-style: none;
    background-color: #252525;
    color: #8e8e8e;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .products-list .products-filter li.active {
      background-color: #f2f2f2;
      color: #1c1c1c;
      padding-bottom: 20px; }
    .products-list .products-filter li:hover {
      color: #f2f2f2;
      background-color: #333; }

.products-list .products-wrapper {
  margin: 0 auto; }
  .products-list .products-wrapper .pruduct-col {
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .products-list .products-wrapper .pruduct-col .products-shop-item {
      background: transparent radial-gradient(closest-side at 50% 50%, #2e2e2e 0, #191919 100%) 0 0 no-repeat padding-box;
      border-radius: 10px;
      height: 750px;
      width: auto;
      border: 2px solid transparent;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      position: relative;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      margin-top: 40px; }
      .products-list .products-wrapper .pruduct-col .products-shop-item:hover {
        border: 2px solid #8e8e8e;
        cursor: pointer; }
        .products-list .products-wrapper .pruduct-col .products-shop-item:hover img {
          position: relative;
          top: -20px; }
      .products-list .products-wrapper .pruduct-col .products-shop-item img {
        padding: 20px;
        max-width: 380px;
        display: block;
        margin: auto; }
      .products-list .products-wrapper .pruduct-col .products-shop-item .product-shop-desc {
        padding-left: 25px;
        padding-right: 25px;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        .products-list .products-wrapper .pruduct-col .products-shop-item .product-shop-desc h3 {
          color: white;
          font-size: 20px;
          font-weight: 400;
          letter-spacing: 1px; }
        .products-list .products-wrapper .pruduct-col .products-shop-item .product-shop-desc p {
          color: white;
          font-size: 20px;
          font-weight: 400;
          padding-top: 10px;
          padding-bottom: 10px;
          letter-spacing: 1px; }
          .products-list .products-wrapper .pruduct-col .products-shop-item .product-shop-desc p del {
            color: #f97000;
            margin-left: 5px;
            font-size: 18px; }
        .products-list .products-wrapper .pruduct-col .products-shop-item .product-shop-desc ul {
          padding-left: 15px;
          padding-bottom: 20px;
          color: #8e8e8e;
          margin-bottom: 30px;
          font-size: 18px; }
      .products-list .products-wrapper .pruduct-col .products-shop-item a {
        position: absolute;
        bottom: 25px;
        margin-left: 30px;
        text-align: center;
        padding: 15px 120px;
        background-color: rgba(242, 242, 242, 0.85);
        color: #252525;
        border-radius: 50px;
        color: gray;
        font-size: 18px;
        text-transform: uppercase; }
        .products-list .products-wrapper .pruduct-col .products-shop-item a:hover {
          background-color: white;
          cursor: pointer;
          color: #252525; }

.product-inner-wrapper {
  padding-top: 100px; }
  .product-inner-wrapper h1 {
    font-weight: 300;
    font-size: 54px;
    text-align: center;
    color: white;
    padding: 20px;
    letter-spacing: 8px; }
  .product-inner-wrapper p {
    text-align: center;
    color: #8e8e8e;
    font-weight: 300;
    font-size: 16px;
    max-width: 1000px;
    margin: auto; }
  .product-inner-wrapper .left-right-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 100px; }
    @media (max-width: 767px) {
      .product-inner-wrapper .left-right-products {
        display: block; } }
    @media (max-width: 575px) {
      .product-inner-wrapper .left-right-products {
        display: block; } }
    .product-inner-wrapper .left-right-products .side-product-desc {
      width: 50%; }
      .product-inner-wrapper .left-right-products .side-product-desc h3 {
        padding-top: 220px;
        padding-left: 100px;
        color: white;
        font-weight: 400;
        font-size: 36px;
        padding-bottom: 10px; }
      .product-inner-wrapper .left-right-products .side-product-desc p {
        padding-top: 30px;
        text-align: left;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 18px;
        line-height: 1.6; }
        .product-inner-wrapper .left-right-products .side-product-desc p span {
          color: #f97000;
          cursor: pointer; }
      .product-inner-wrapper .left-right-products .side-product-desc ul p {
        text-align: left;
        padding-left: 100px;
        color: white;
        font-weight: 400; }
      .product-inner-wrapper .left-right-products .side-product-desc ul li {
        padding-left: 100px;
        list-style: none;
        color: #8e8e8e;
        line-height: 1.6; }
        .product-inner-wrapper .left-right-products .side-product-desc ul li span {
          color: #f97000; }
    .product-inner-wrapper .left-right-products .side-product-image {
      width: 50%; }
      .product-inner-wrapper .left-right-products .side-product-image img {
        width: 100%;
        height: 100%; }
    .product-inner-wrapper .left-right-products .side-product-desc {
      background-color: #151515; }

/* Slideshow container */
.slideshow-container {
  width: auto;
  position: relative;
  height: auto; }

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%; }
  .mySlides .slides-des-1 .images-holder-1 {
    width: auto;
    background-image: url("../img/slide1.jpg");
    background-size: cover;
    background-position: center;
    height: 650px; }
  .mySlides .slides-des-1 .text, .mySlides .slides-des-1 h3 {
    width: auto;
    color: #f2f2f2;
    font-size: 24px;
    padding: 15px 34%;
    margin: auto;
    position: absolute;
    bottom: 120px;
    text-align: center; }
  .mySlides .slides-des-1 h3 {
    bottom: 300px;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    padding: 0 35%;
    margin-bottom: -25px; }
    @media (max-width: 991px) {
      .mySlides .slides-des-1 h3 {
        margin: auto; } }
    .mySlides .slides-des-1 h3 span {
      color: yellow; }
  .mySlides .slides-des-1 a {
    position: absolute;
    bottom: 50px;
    right: 40%;
    left: 40%;
    text-align: center;
    padding: 15px 120px;
    background-color: rgba(242, 242, 242, 0.85);
    margin: 0 auto;
    color: #252525;
    border-radius: 50px;
    color: gray;
    font-size: 18px;
    text-transform: uppercase; }
    .mySlides .slides-des-1 a:hover {
      background-color: white;
      cursor: pointer;
      color: #252525; }
  .mySlides .slides-des-2 .images-holder-2 {
    width: auto;
    background-image: url("../img/slide-2.jpg");
    background-size: cover;
    background-position: center;
    height: 650px; }
  .mySlides .slides-des-2 img {
    width: auto;
    padding: 0px 16%;
    margin: auto;
    position: absolute;
    bottom: 290px; }
  .mySlides .slides-des-2 .text, .mySlides .slides-des-2 .slides-des-1 h3, .mySlides .slides-des-1 .slides-des-2 h3 {
    width: auto;
    color: #f2f2f2;
    max-width: 650px;
    font-size: 22px;
    padding: 0 150px;
    position: absolute;
    margin: 0 auto;
    bottom: 190px;
    text-align: center; }
  .mySlides .slides-des-2 a {
    position: absolute;
    bottom: 100px;
    left: 15.5%;
    text-align: center;
    padding: 15px 120px;
    background-color: rgba(242, 242, 242, 0.85);
    margin: auto;
    color: #252525;
    border-radius: 50px;
    color: gray;
    font-size: 18px;
    text-transform: uppercase; }
    .mySlides .slides-des-2 a:hover {
      background-color: white;
      cursor: pointer;
      color: #252525; }
  .mySlides .slides-des-3 .images-holder-3 {
    width: 100%;
    background-image: url("../img/slide-4.jpg");
    background-size: cover;
    background-position: center;
    height: 650px; }
  .mySlides .slides-des-3 h3 {
    position: absolute;
    color: white;
    bottom: 250px;
    left: 150px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 4px;
    padding: 25px;
    margin: auto;
    max-width: 500px; }
  .mySlides .slides-des-3 .text, .mySlides .slides-des-3 .slides-des-1 h3, .mySlides .slides-des-1 .slides-des-3 h3 {
    position: absolute;
    color: white;
    bottom: 150px;
    left: 150px;
    padding: 25px;
    padding-right: 35px;
    font-size: 20px;
    max-width: 600px; }
  .mySlides .slides-des-3 a {
    position: absolute;
    bottom: 70px;
    left: 9%;
    text-align: center;
    padding: 15px 120px;
    background-color: rgba(242, 242, 242, 0.85);
    margin: auto;
    border-radius: 50px;
    color: gray;
    font-size: 18px;
    text-transform: uppercase; }
    .mySlides .slides-des-3 a:hover {
      background-color: white;
      cursor: pointer;
      color: #252525; }

/* Next & previous buttons */
.prev, .next {
  background-color: #5c5a5a60;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 35px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 10px 0 0 10px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 2px;
  width: 60px;
  border-radius: 20px;
  margin: 30px 3px;
  background-color: #bbb;
  border-radius: 0;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #f97000;
  height: 7px;
  border-radius: 20px; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.8s;
  animation-name: fade;
  animation-duration: 1.8s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.slideshow-container-two {
  width: 100%;
  position: relative;
  margin: auto;
  height: auto; }

/* Hide the images by default */
.mySlides-two {
  display: none;
  width: 100%; }
  .mySlides-two .slides-two-des-1 .images-holder-1 {
    width: auto;
    background-image: url("../img/slide-two-1.jpg");
    background-size: cover;
    background-position: center;
    height: 650px; }
  .mySlides-two .slides-two-des-1 h3 {
    position: absolute;
    color: white;
    bottom: 350px;
    left: 150px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 1px;
    padding: 25px;
    margin: 50px auto; }
    .mySlides-two .slides-two-des-1 h3 span {
      color: #00d2ff; }
  .mySlides-two .slides-two-des-1 .text, .mySlides-two .slides-two-des-1 .mySlides .slides-des-1 h3, .mySlides .slides-des-1 .mySlides-two .slides-two-des-1 h3 {
    width: auto;
    color: #f2f2f2;
    max-width: 650px;
    font-size: 25px;
    padding: 0px 175px;
    position: absolute;
    margin: 0 auto;
    bottom: 270px;
    line-height: 35px; }
  .mySlides-two .slides-two-des-1 a {
    position: absolute;
    bottom: 170px;
    left: 9%;
    text-align: center;
    padding: 15px 120px;
    background-color: rgba(242, 242, 242, 0.85);
    margin: auto;
    color: #252525;
    border-radius: 50px;
    color: gray;
    font-size: 18px;
    text-transform: uppercase; }
    .mySlides-two .slides-two-des-1 a:hover {
      background-color: white;
      cursor: pointer;
      color: #252525; }
  .mySlides-two .slides-two-des-2 .images-holder-2 {
    width: auto;
    background-image: url("../img/slide-two-2.jpg");
    background-size: cover;
    background-position: center;
    height: 650px; }
  .mySlides-two .slides-two-des-2 img {
    width: auto;
    padding: 0px 16%;
    margin: auto;
    position: absolute;
    bottom: 290px; }
  .mySlides-two .slides-two-des-2 h3 {
    position: absolute;
    color: white;
    bottom: 350px;
    left: 150px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 1px;
    padding: 25px;
    margin: 50px auto; }
    .mySlides-two .slides-two-des-2 h3 span {
      color: yellow; }
  .mySlides-two .slides-two-des-2 .text, .mySlides-two .slides-two-des-2 .mySlides .slides-des-1 h3, .mySlides .slides-des-1 .mySlides-two .slides-two-des-2 h3 {
    width: auto;
    color: #f2f2f2;
    max-width: 650px;
    font-size: 26px;
    padding: 0px 175px;
    position: absolute;
    margin: 0 auto;
    bottom: 270px;
    line-height: 35px; }
  .mySlides-two .slides-two-des-2 a {
    position: absolute;
    bottom: 170px;
    left: 9%;
    text-align: center;
    padding: 15px 120px;
    background-color: rgba(242, 242, 242, 0.85);
    margin: auto;
    color: #252525;
    border-radius: 50px;
    color: gray;
    font-size: 18px;
    text-transform: uppercase; }
    .mySlides-two .slides-two-des-2 a:hover {
      background-color: white;
      cursor: pointer;
      color: #252525; }
  .mySlides-two .slides-two-des-3 .images-holder-3 {
    width: 100%;
    background-image: url("../img/slide-two-3.jpg");
    background-size: cover;
    background-position: center;
    height: 650px; }
  .mySlides-two .slides-two-des-3 h3 {
    position: absolute;
    color: white;
    bottom: 350px;
    left: 150px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 1px;
    padding: 25px;
    margin: 50px auto; }
    .mySlides-two .slides-two-des-3 h3 span {
      color: #00d2ff; }
  .mySlides-two .slides-two-des-3 .text, .mySlides-two .slides-two-des-3 .mySlides .slides-des-1 h3, .mySlides .slides-des-1 .mySlides-two .slides-two-des-3 h3 {
    width: auto;
    color: #f2f2f2;
    max-width: 650px;
    font-size: 25px;
    padding: 0px 175px;
    position: absolute;
    margin: 0 auto;
    bottom: 270px;
    line-height: 35px; }
  .mySlides-two .slides-two-des-3 a {
    position: absolute;
    bottom: 170px;
    left: 9%;
    text-align: center;
    padding: 15px 120px;
    background-color: rgba(242, 242, 242, 0.85);
    margin: auto;
    color: #252525;
    border-radius: 50px;
    color: gray;
    font-size: 18px;
    text-transform: uppercase; }
    .mySlides-two .slides-two-des-3 a:hover {
      background-color: white;
      cursor: pointer;
      color: #252525; }

/* Next & previous buttons */
.prev-two, .next-two {
  background-color: #5c5a5a60;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 25px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* Position the "next button" to the right */
.next-two {
  right: 0;
  border-radius: 10px 0 0 10px; }

/* On hover, add a black background color with a little bit see-through */
.prev-two:hover, .next-two:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* The dots/bullets/indicators */
.dot-two {
  cursor: pointer;
  height: 2px;
  width: 60px;
  border-radius: 20px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 0;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease; }

.active, .dot-two:hover {
  background-color: #f97000;
  height: 7px;
  border-radius: 20px; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.8s;
  animation-name: fade;
  animation-duration: 1.8s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.slideshow-container-three {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #000000), color-stop(50%, #2A2A2A));
  background-image: linear-gradient(to bottom, #000000 50%, #2A2A2A 50%);
  position: relative;
  margin: auto;
  height: auto;
  padding-top: 200px; }

/* Hide the images by default */
.mySlides-three {
  display: none;
  width: 100%; }
  .mySlides-three .slides-three-des-1 {
    height: 100vh;
    position: relative; }
    .mySlides-three .slides-three-des-1 h2 {
      color: white;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 60px;
      position: absolute;
      right: 34.5%;
      top: 40px;
      padding-left: 50px;
      padding-right: 50px; }
    .mySlides-three .slides-three-des-1 img {
      height: 730px;
      width: 882px;
      padding-left: 160px; }
    .mySlides-three .slides-three-des-1 .slide-three-caption {
      background-color: white;
      width: 472px;
      height: 280px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      line-height: 43px;
      text-align: justify;
      position: absolute;
      border-radius: 7%;
      top: 250px;
      left: 50%;
      -webkit-box-shadow: 0 20px 35px 5px #0e0d0d;
      box-shadow: 0 20px 35px 5px #0e0d0d; }
      .mySlides-three .slides-three-des-1 .slide-three-caption::after {
        content: " ";
        display: block;
        position: absolute;
        left: -25px;
        top: 40%;
        border-top: 26px solid transparent;
        border-right: 26px solid #ffffff;
        border-left: none;
        border-bottom: 26px solid transparent; }
      .mySlides-three .slides-three-des-1 .slide-three-caption img {
        margin-top: -40px;
        margin-left: -70px;
        max-height: 95px;
        max-width: 85px;
        padding-bottom: 10px; }
      .mySlides-three .slides-three-des-1 .slide-three-caption .message {
        font-size: 20px;
        color: gray;
        font-style: italic; }
      .mySlides-three .slides-three-des-1 .slide-three-caption .name {
        color: gray;
        font-weight: 300;
        font-size: 20px;
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 10px; }
      .mySlides-three .slides-three-des-1 .slide-three-caption a {
        text-align: center;
        padding: 10px 40px;
        background-color: rgba(25, 25, 25, 0.85);
        margin: auto;
        color: white;
        border-radius: 50px;
        font-size: 18px;
        text-transform: capitalize;
        margin-left: 60px;
        margin-right: 40px; }
        .mySlides-three .slides-three-des-1 .slide-three-caption a:hover {
          background-color: #252525;
          cursor: pointer;
          color: white; }
  .mySlides-three .slides-three-des-2 {
    height: 100vh;
    position: relative; }
    .mySlides-three .slides-three-des-2 h2 {
      color: white;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 60px;
      position: absolute;
      right: 34.5%;
      top: 40px;
      padding-left: 50px;
      padding-right: 50px; }
    .mySlides-three .slides-three-des-2 img {
      height: 730px;
      width: 882px;
      padding-left: 160px; }
    .mySlides-three .slides-three-des-2 .slide-three-caption {
      background-color: white;
      width: 432px;
      height: 280px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      line-height: 43px;
      text-align: justify;
      position: absolute;
      border-radius: 7%;
      top: 250px;
      left: 50%;
      -webkit-box-shadow: 0 20px 35px 5px #0e0d0d;
      box-shadow: 0 20px 35px 5px #0e0d0d; }
      .mySlides-three .slides-three-des-2 .slide-three-caption::after {
        content: " ";
        display: block;
        position: absolute;
        left: -25px;
        top: 40%;
        border-top: 26px solid transparent;
        border-right: 26px solid #ffffff;
        border-left: none;
        border-bottom: 26px solid transparent; }
      .mySlides-three .slides-three-des-2 .slide-three-caption img {
        margin-top: -40px;
        margin-left: -55px;
        max-height: 95px;
        max-width: 85px;
        padding-bottom: 10px; }
      .mySlides-three .slides-three-des-2 .slide-three-caption .message {
        margin-left: -20px;
        font-size: 20px;
        color: gray;
        font-style: italic; }
      .mySlides-three .slides-three-des-2 .slide-three-caption .name {
        color: gray;
        font-weight: 300;
        font-size: 20px;
        padding-top: 10px;
        padding-left: 70px;
        padding-right: 40px;
        margin-bottom: 10px; }
      .mySlides-three .slides-three-des-2 .slide-three-caption a {
        text-align: center;
        padding: 10px 40px;
        background-color: rgba(25, 25, 25, 0.85);
        margin: auto;
        color: white;
        border-radius: 50px;
        font-size: 18px;
        text-transform: capitalize;
        margin-left: 60px;
        margin-right: 40px; }
        .mySlides-three .slides-three-des-2 .slide-three-caption a:hover {
          background-color: #252525;
          cursor: pointer;
          color: white; }
  .mySlides-three .slides-three-des-3 {
    height: 100vh;
    position: relative; }
    .mySlides-three .slides-three-des-3 h2 {
      color: white;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 60px;
      position: absolute;
      right: 34.5%;
      top: 40px;
      padding-left: 50px;
      padding-right: 50px; }
    .mySlides-three .slides-three-des-3 img {
      height: 730px;
      width: 882px;
      padding-left: 160px; }
    .mySlides-three .slides-three-des-3 .slide-three-caption {
      background-color: white;
      width: 372px;
      height: 280px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      line-height: 43px;
      text-align: justify;
      position: absolute;
      border-radius: 7%;
      top: 250px;
      left: 50%;
      -webkit-box-shadow: 0 20px 35px 5px #0e0d0d;
      box-shadow: 0 20px 35px 5px #0e0d0d; }
      .mySlides-three .slides-three-des-3 .slide-three-caption::after {
        content: " ";
        display: block;
        position: absolute;
        left: -25px;
        top: 30%;
        border-top: 26px solid transparent;
        border-right: 26px solid #ffffff;
        border-left: none;
        border-bottom: 26px solid transparent; }
      .mySlides-three .slides-three-des-3 .slide-three-caption img {
        margin-top: -40px;
        margin-left: -55px;
        max-height: 95px;
        max-width: 85px;
        padding-bottom: 10px; }
      .mySlides-three .slides-three-des-3 .slide-three-caption .message {
        margin-left: 50px;
        font-size: 20px;
        color: gray;
        font-style: italic; }
      .mySlides-three .slides-three-des-3 .slide-three-caption .name {
        color: gray;
        font-weight: 300;
        font-size: 20px;
        padding-top: 10px;
        padding-left: 80px;
        padding-right: 40px;
        margin-bottom: 10px; }
      .mySlides-three .slides-three-des-3 .slide-three-caption a {
        text-align: center;
        padding: 10px 40px;
        background-color: rgba(25, 25, 25, 0.85);
        margin: auto;
        color: white;
        border-radius: 50px;
        font-size: 18px;
        text-transform: capitalize;
        margin-left: 60px;
        margin-right: 40px; }
        .mySlides-three .slides-three-des-3 .slide-three-caption a:hover {
          background-color: #252525;
          cursor: pointer;
          color: white; }
  .mySlides-three .slides-three-des-4 {
    height: 100vh;
    position: relative; }
    .mySlides-three .slides-three-des-4 h2 {
      color: white;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 60px;
      position: absolute;
      right: 34.5%;
      top: 40px;
      padding-left: 50px;
      padding-right: 50px; }
    .mySlides-three .slides-three-des-4 img {
      height: 730px;
      width: 882px;
      padding-left: 160px; }
    .mySlides-three .slides-three-des-4 .slide-three-caption {
      background-color: white;
      width: 672px;
      height: 310px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      line-height: 43px;
      text-align: justify;
      position: absolute;
      border-radius: 7%;
      top: 250px;
      left: 50%;
      -webkit-box-shadow: 0 20px 35px 5px #0e0d0d;
      box-shadow: 0 20px 35px 5px #0e0d0d; }
      .mySlides-three .slides-three-des-4 .slide-three-caption::after {
        content: " ";
        display: block;
        position: absolute;
        left: -25px;
        top: 50%;
        border-top: 26px solid transparent;
        border-right: 26px solid #ffffff;
        border-left: none;
        border-bottom: 26px solid transparent; }
      .mySlides-three .slides-three-des-4 .slide-three-caption img {
        margin-top: -40px;
        margin-left: 30px;
        max-height: 95px;
        max-width: 85px;
        padding-bottom: 10px; }
      .mySlides-three .slides-three-des-4 .slide-three-caption .message {
        margin-left: 50px;
        font-size: 20px;
        color: gray;
        font-style: italic; }
      .mySlides-three .slides-three-des-4 .slide-three-caption .name {
        color: gray;
        font-weight: 300;
        font-size: 20px;
        padding-top: 10px;
        padding-left: 160px;
        padding-right: 40px;
        margin-bottom: 10px; }
      .mySlides-three .slides-three-des-4 .slide-three-caption a {
        text-align: center;
        padding: 10px 60px;
        background-color: rgba(25, 25, 25, 0.85);
        margin: auto;
        color: white;
        border-radius: 50px;
        font-size: 18px;
        text-transform: capitalize;
        margin-left: 100px;
        margin-right: 40px; }
        .mySlides-three .slides-three-des-4 .slide-three-caption a:hover {
          background-color: #252525;
          cursor: pointer;
          color: white; }

/* Next & previous buttons */
.prev-three, .next-three {
  background-color: #5c5a5a60;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -39px;
  padding: 25px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* Position the "next button" to the right */
.next-three {
  right: 0;
  border-radius: 10px 0 0 10px; }

/* On hover, add a black background color with a little bit see-through */
.prev-three:hover, .next-three:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* The dots/bullets/indicators */
.dot-three {
  position: relative;
  top: -160px;
  cursor: pointer;
  height: 3px;
  width: 70px;
  border-radius: 20px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 0;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease; }

.active, .dot-three:hover {
  background-color: #f97000;
  height: 8px;
  border-radius: 20px; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

section.setup-proud {
  background-color: white;
  margin-top: -40px;
  width: auto;
  height: 100%; }
  section.setup-proud h2 {
    text-align: center;
    color: #252525;
    padding: 90px 20px 80px 20px;
    font-size: 77px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1.5px; }
  section.setup-proud p {
    text-align: center;
    margin-bottom: 100px;
    font-weight: 400;
    color: #252525;
    font-size: 20px;
    max-width: 900px;
    margin: auto;
    padding: 0 20px 50px 20px; }
  section.setup-proud .setup-proud-item {
    width: 100%;
    position: relative; }
    section.setup-proud .setup-proud-item .row-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
      cursor: pointer; }
      @media (max-width: 767px) {
        section.setup-proud .setup-proud-item .row-list {
          display: block; } }
      section.setup-proud .setup-proud-item .row-list .row-item-1 {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        position: relative; }
        section.setup-proud .setup-proud-item .row-list .row-item-1 img {
          display: block;
          height: 600px;
          width: 100%;
          -o-object-fit: cover;
             object-fit: cover; }
        section.setup-proud .setup-proud-item .row-list .row-item-1 a i {
          font-size: 30px;
          color: black; }
      section.setup-proud .setup-proud-item .row-list .item-left:hover .imgage-overly {
        width: 100%; }
      section.setup-proud .setup-proud-item .row-list .item-left .imgage-overly {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ffffffA3;
        overflow: hidden;
        width: 0;
        height: 100%;
        -webkit-transition: .5s ease;
        transition: .5s ease; }
      section.setup-proud .setup-proud-item .row-list .item-left a {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap; }
      section.setup-proud .setup-proud-item .row-list .item-top:hover .imgage-overly {
        bottom: 0;
        height: 100%; }
      section.setup-proud .setup-proud-item .row-list .item-top .imgage-overly {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: #ffffffA3;
        overflow: hidden;
        width: 100%;
        height: 0;
        -webkit-transition: .5s ease;
        transition: .5s ease; }
      section.setup-proud .setup-proud-item .row-list .item-top a {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap; }
      section.setup-proud .setup-proud-item .row-list .item-right:hover .imgage-overly {
        width: 100%;
        left: 0; }
      section.setup-proud .setup-proud-item .row-list .item-right .imgage-overly {
        position: absolute;
        bottom: 0;
        left: 100%;
        right: 0;
        background-color: #ffffffA3;
        overflow: hidden;
        width: 0;
        height: 100%;
        -webkit-transition: .5s ease;
        transition: .5s ease; }
      section.setup-proud .setup-proud-item .row-list .item-right a {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap; }
      section.setup-proud .setup-proud-item .row-list .item-bottom:hover .imgage-overly {
        height: 100%; }
      section.setup-proud .setup-proud-item .row-list .item-bottom .imgage-overly {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ffffffA3;
        overflow: hidden;
        width: 100%;
        height: 0;
        -webkit-transition: .5s ease;
        transition: .5s ease; }
      section.setup-proud .setup-proud-item .row-list .item-bottom a {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap; }

.search-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  text-align: center;
  padding: 320px; }
  .search-wrapper a {
    position: absolute;
    top: 250px;
    right: 600px;
    color: white;
    font-size: 30px; }
    .search-wrapper a :hover {
      color: blue; }
  .search-wrapper form {
    display: block;
    margin: auto; }
    .search-wrapper form input {
      height: 50px;
      width: 50%;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid white;
      outline: none;
      color: white;
      font-size: 20px;
      padding-left: 15px; }
    .search-wrapper form button {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 25px;
      cursor: pointer;
      margin-left: -45px;
      outline: none; }
      .search-wrapper form button :hover {
        color: blue; }

.loader-wrapper {
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5;
  padding-top: 25%; }

.lds-facebook {
  display: block;
  margin: auto;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }

.lds-facebook div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s; }

.lds-facebook div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s; }

.lds-facebook div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0; }

@-webkit-keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px; }
  50%, 100% {
    top: 24px;
    height: 32px; } }

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px; }
  50%, 100% {
    top: 24px;
    height: 32px; } }

.proud-item {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  text-align: center; }
  .proud-item .proud-holder {
    width: 1300px;
    height: 700px;
    margin: 5% auto;
    position: relative;
    background-color: white; }
    .proud-item .proud-holder img {
      position: absolute;
      right: 50%;
      -o-object-fit: cover;
         object-fit: cover;
      height: 100%;
      width: 60%; }
  .proud-item .proud-text {
    color: black;
    position: absolute;
    top: 50px;
    left: 57%;
    width: auto;
    padding: 20px; }
    .proud-item .proud-text .left-side {
      float: left; }
      .proud-item .proud-text .left-side ul {
        list-style: none; }
        .proud-item .proud-text .left-side ul li {
          display: inline-block; }
          .proud-item .proud-text .left-side ul li:first-child {
            font-size: 15px;
            font-weight: bold;
            background-color: black;
            color: white;
            padding: 13px;
            border-radius: 100%;
            margin-right: 10px; }
    .proud-item .proud-text .right-side {
      float: right;
      color: #848484;
      font-weight: 500;
      font-size: 15px; }
    .proud-item .proud-text p {
      padding-top: 70px;
      text-align: justify;
      font-size: 15px; }
    .proud-item .proud-text .caption {
      float: left;
      margin-top: 30px; }
      .proud-item .proud-text .caption details summary {
        font-size: 14px;
        font-weight: 500;
        float: left;
        color: #848484; }
      .proud-item .proud-text .caption details span {
        font-size: 15px;
        float: left;
        margin-top: 30px;
        text-align: justify;
        margin-left: -100px; }
      .proud-item .proud-text .caption .icone-holder {
        margin-left: 16px; }
        .proud-item .proud-text .caption .icone-holder .fas {
          color: #848484;
          float: left;
          margin-top: 30px;
          margin-right: 35px;
          position: relative; }
        .proud-item .proud-text .caption .icone-holder .fa-thumbs-up::after {
          content: "4";
          display: block;
          position: absolute;
          left: -15px;
          top: 10%; }
        .proud-item .proud-text .caption .icone-holder .fa-thumbs-down {
          margin-top: 33px; }
          .proud-item .proud-text .caption .icone-holder .fa-thumbs-down::after {
            content: "0";
            display: block;
            position: absolute;
            left: -15px;
            top: -8%; }
  .proud-item a {
    position: absolute;
    top: 50px;
    right: 200px;
    color: white;
    font-size: 30px; }
    .proud-item a :hover {
      color: blue; }

.proud-follow {
  height: 150px;
  width: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px; }
  .proud-follow .follow-btn a {
    background-color: #252525;
    text-align: center;
    padding: 15px 60px;
    color: #848484;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    text-transform: capitalize; }
    .proud-follow .follow-btn a:hover {
      background-color: #848484;
      cursor: pointer;
      color: white; }
    .proud-follow .follow-btn a span {
      margin-left: 10px; }
