* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

body {
  background-color: black; }

.container {
  max-height: 1420px;
  margin: auto; }

header {
  background-color: black; }
  header .pre-header {
    background: -webkit-gradient(linear, left top, right top, from(#060606), to(#2e2e2e));
    background: linear-gradient(to right, #060606 0%, #2e2e2e 100%);
    height: 30px;
    padding-top: 5px; }
    header .pre-header ul {
      list-style: none;
      float: right; }
      header .pre-header ul li {
        display: inline-block;
        margin-right: 25px;
        margin: 5px; }
        header .pre-header ul li:first-child a {
          color: #f97000; }
          header .pre-header ul li:first-child a:hover {
            color: #f97000;
            text-decoration: underline; }
        header .pre-header ul li a {
          color: #848484; }
          header .pre-header ul li a:hover {
            color: white; }
  header nav {
    padding: 15px;
    background-color: black;
    width: 100%;
    z-index: 2; }
    header nav.fixed-nav {
      position: fixed;
      top: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    header nav ul {
      list-style: none;
      float: left; }
      header nav ul li {
        display: inline-block;
        margin-left: 30px;
        position: relative;
        top: -20px; }
        header nav ul li:first-child {
          top: -5px; }
          header nav ul li:first-child img {
            width: 200px; }
          header nav ul li:first-child a:hover:after {
            display: none; }
        header nav ul li a {
          font-size: 16px;
          color: white;
          text-transform: uppercase;
          position: relative; }
          header nav ul li a:hover:after {
            content: '';
            display: block;
            background-color: white;
            height: 2px;
            width: 100%;
            position: absolute; }
    header nav .nav-right-side {
      float: right;
      margin-right: 50px;
      margin-top: 5px; }
      header nav .nav-right-side a {
        color: white;
        font-size: 25px; }
        header nav .nav-right-side a :hover {
          color: blue; }

section.hero h1 {
  font-size: 68px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  margin-top: 170px;
  margin-bottom: 70px; }
  @media (max-width: 991px) {
    section.hero h1 {
      margin-top: 170px; } }
  @media (max-width: 767px) {
    section.hero h1 {
      font-size: 49px; } }
  @media (max-width: 575px) {
    section.hero h1 {
      font-size: 38px; } }
  section.hero h1 span {
    font-weight: 600;
    background-image: -webkit-linear-gradient(145deg, #a2fe73, #35fdb2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear; }

section.hero video {
  width: 100%; }

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(-360deg); } }

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(-360deg); } }

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1b1b1b), to(#373737));
  background-image: linear-gradient(to top, #1b1b1b 0%, #373737 100%);
  padding-bottom: 100px; }
  @media (max-width: 1050px) {
    .featured {
      width: 100%; } }
  @media (max-width: 767px) {
    .featured {
      display: block; } }
  .featured-item {
    margin-top: -160px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    z-index: 1; }
    @media (max-width: 991px) {
      .featured-item {
        padding: 10px;
        margin-top: -100px; } }
    @media (max-width: 767px) {
      .featured-item {
        padding: 105px; } }
    @media (max-width: 575px) {
      .featured-item {
        font-size: 14px;
        margin-top: 0; } }
    .featured-item img {
      width: 400px; }
      @media (max-width: 1200px) {
        .featured-item img {
          width: 350px; } }
      @media (max-width: 1199px) {
        .featured-item img {
          width: 100%; } }
      @media (max-width: 991px) {
        .featured-item img {
          width: 250px; } }
      @media (max-width: 767px) {
        .featured-item img {
          width: 400px; } }
      @media (max-width: 575px) {
        .featured-item img {
          width: 250px; } }
    .featured-item p {
      max-width: 300px;
      margin: auto; }
      @media (max-width: 991px) {
        .featured-item p {
          padding-bottom: 80px; } }
      @media (max-width: 767px) {
        .featured-item p {
          font-size: 25px; } }
      @media (max-width: 767px) {
        .featured-item p {
          font-size: 18px; } }

section.products {
  padding-top: 100px;
  padding-bottom: 100px; }
  section.products h2 {
    color: white;
    max-width: 1000px;
    text-align: center;
    font-size: 38px;
    font-weight: 300;
    margin: auto;
    margin-bottom: 70px; }
    @media (max-width: 575px) {
      section.products h2 {
        font-size: 24px;
        padding: 15px; } }
    @media (max-width: 767px) {
      section.products h2 {
        font-size: 30px;
        padding: 15px; } }
  section.products .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 200px; }
    @media (max-width: 991px) {
      section.products .container {
        display: block;
        margin-left: 0px; } }
    @media (max-width: 767px) {
      section.products .container {
        display: block; } }
    @media (max-width: 575px) {
      section.products .container {
        display: block; } }
    section.products .container .products-item {
      height: 320px;
      width: 400px;
      color: white;
      position: relative;
      background-size: cover; }
      @media (max-width: 991px) {
        section.products .container .products-item {
          height: 750px;
          width: auto; } }
      @media (max-width: 767px) {
        section.products .container .products-item {
          height: 550px;
          width: auto; } }
      @media (max-width: 575px) {
        section.products .container .products-item {
          display: block; } }
      section.products .container .products-item:hover {
        -webkit-transition: 0.4s;
        transition: 0.4s; }
        section.products .container .products-item:hover .overlay {
          display: block;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0; }
      section.products .container .products-item.products-kayboard {
        background-image: url("../img/products-1.jpg"); }
      section.products .container .products-item.products-headset {
        background-image: url("../img/products-2.jfif"); }
      section.products .container .products-item .products-info {
        padding: 30px; }
        section.products .container .products-item .products-info h3 {
          font-size: 32px;
          font-weight: 400; }
        section.products .container .products-item .products-info p {
          font-size: 18px; }
      section.products .container .products-item .overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; }
        section.products .container .products-item .overlay a {
          color: black;
          display: block;
          margin-top: 45%;
          background-color: white;
          width: 90px;
          margin: 35%;
          padding: 10px; }
          @media (max-width: 767px) {
            section.products .container .products-item .overlay a {
              margin-left: 295px; } }

.search-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  text-align: center;
  padding: 220px; }
  .search-wrapper a {
    position: absolute;
    top: 170px;
    right: 570px;
    color: white;
    font-size: 30px; }
    .search-wrapper a :hover {
      color: blue; }
  .search-wrapper form {
    display: block;
    margin: auto; }
    .search-wrapper form input {
      height: 50px;
      width: 50%; }

.loader-wrapper {
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5;
  padding-top: 25%; }

.lds-facebook {
  display: block;
  margin: auto;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }

.lds-facebook div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s; }

.lds-facebook div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s; }

.lds-facebook div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0; }

@-webkit-keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px; }
  50%, 100% {
    top: 24px;
    height: 32px; } }

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px; }
  50%, 100% {
    top: 24px;
    height: 32px; } }
