header{
    background-color: $black;
    

    .pre-header{
        background: linear-gradient(to right, rgba(6,6,6,1) 0%,rgba(46,46,46,1) 100%);
        height: 30px;
        padding-top: 5px;

        ul{
            list-style: none;
            float: right;
            margin-right: 10px;
            li{
                display: inline-block;
                margin-right: 25px;
                margin: 5px;
                @media (max-width:$md){
                    margin-right: 0;
                }

                &:first-child{
                    a{
                        color: $orange;
                        &:hover{
                            color: $orange;
                            text-decoration: underline;
                        }
                    }
                }
                a{
                    color: $gray;
                    &:hover{
                        color: $white;
                    }
                }
            }
        }
    }

    nav{
        
        padding-top: 15px;
        background-color: $black;
        width: 100%;
        z-index: 2;
        @media (max-width:$md){
            position: relative;
        }
        

        &.fixed-nav{
            position: fixed;
            top: 0;
            transition: 0.3s;
            

        }
        .hamburger-menu-button{
            background-color: transparent;
            border: none;
            font-size: 38px;
            color: $white;
            display: none;
            padding: 20px;
            outline: none;
            .fa-times{
                display: none;
            }

            &.opened{
                .fa-times{
                    display: block;
                }
                .fa-bars{
                    display: none;
                }
            }

            :hover{
                color: $blue;
            }

            @media (max-width:$md){
                display: block;
            }
        }
        .logo-mobile{
            text-align: center;
            margin-top: -65px;
            display: none;
            @media (max-width:$md){
                display: block;
            }
            a{
                img{
                    height: 40px;
                }
            }
        }

        ul{
            list-style: none;
            float: left;
            
            @media (max-width:$md){
                display: none;
                width: 100%;
                position: absolute;
                background-color: $black;
                left: 0;
                right: 0;
            }
        
            li{
                display: inline-block;
                margin-left: 30px;
                position: relative;
                top: -20px;

                &:first-child{
                    top: -5px;
                    img{
                        width: 200px;
                    }
                    a:hover{
                        &:after{
                            display: none;
                        }
                    }
                }
                @media (max-width:$md){
                    display: block;
                    text-align: center;
                    margin-bottom: 20px;
                    margin-top: 25px;
                    font-weight: 600;
                    letter-spacing: 3px;
                }
                @media (max-width:$md){
                    &:first-child{
                        display: none;
                    }
                }
                a{
                    font-size: 16px;
                    color: $white;
                    text-transform: uppercase;
                    position: relative;
                    
                    &:hover{
                        &:after{
                            content: '';
                            display: block;
                            background-color: $white;
                            height: 2px;
                            width: 100%;
                            position: absolute;
                        }
                    }
                }
            }
        }
        .nav-right-side{
            float: right;
            margin-right: 50px;
            margin-top: -1px;

            @media (max-width:$md){
                position: absolute;
                top: 45px;
                right: 0;
            }
                a{
                    color: $white;
                    font-size: 25px;
                
                    :hover{
                        color: $blue;
                    }
                }
        }
    }
}