.proud-item{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    text-align: center;
    
    .proud-holder{
        width:65%;
        height:75%;
        margin: 6% auto;
        background-color: $white;
        display: flex;
        @media (max-width:$lg) {
            width:90%;
            height:65%;
            margin: 16% auto;
        }
        @media (max-width:$md) {
            display: inline-block;
            width:100%;
            height:100%;
            margin:0;
            overflow: auto;
            margin-bottom: 50px;
        }

        .img-holder{
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
    }
}
    .proud-text{
        color: $black;
        width: auto;
        padding: 20px 50px;

        .left-side{
            float: left;
            ul{
                list-style: none;
                
                li{
                    display: inline-block;

                    &:first-child{
                        font-size: 15px;
                        font-weight: bold;
                        background-color: $black;
                        color: $white;
                        padding: 13px;
                        border-radius: 100%;
                        margin-right: 10px;
                    }
                }
            }
        }
        .right-side{
            float: right;
            color: $gray;
            font-weight: 500;
            font-size: 14px;
            margin-top: 15px;
            margin-right: 15px;
            @media (max-width:$lg) {
                font-size: 11px;
            }
            
        }

        p{
            padding-top: 70px;
            text-align: justify;
            font-size: 15px;
            padding-right: 50px;
            @media (max-width:$lg) {
                font-size: 14px;
                padding-right: 20px;
            }
        }
        .caption{
            float: left;
            margin-top: 30px;
            details{
                
                summary{
                    font-size: 14px;
                    font-weight: 500;
                    float: left;
                    color: $gray;
                }
            
                span{
                    font-size: 15px;
                    float: left;
                    margin-top: 30px;
                    text-align: justify;
                    margin-left: -100px;
                    max-width: 100%;
                    @media (max-width:$lg) {
                        margin-left: 10px;
                        margin-top: 15px;
                        font-size: 12px;
                    }
                    @media (max-width:$md) {
                        margin-top: 30px;
                        margin-left: -100px;
                    }
                }
            }
            .icone-holder{
                margin-left: 16px;

                .fas{
                    color: $gray;
                    float: left;
                    margin-top: 30px;
                    margin-right: 35px;
                    position: relative;
                }
                .fa-thumbs-up{
                    &::after{
                        content: "4";
                        display: block;
                        position: absolute;
                        left: -15px;
                        top: 10%;
                        
                    }
                    
                }
                .fa-thumbs-down{
                    margin-top: 33px;
                    &::after{
                        content: "0";
                        display: block;
                        position: absolute;
                        left: -15px;
                        top: -8%;
                        
                    }
                }
                
            }
        }
        
    }

    a{
        position: absolute;
        top: 10px;
        right: 54px;
        text-shadow: 3px 3px rgb(49, 48, 48);
        color: $white;
        font-size: 30px;

        :hover{
            color: $blue;
        }
    }
}

.proud-follow{
    height: 150px;
    width: auto;
    background-color: $white;
    display: flex ;
    justify-content: center;
    padding-top: 100px;

    .follow-btn{

        a{
            background-color: $dark-grey;
            text-align: center;
            padding: 15px 60px;
            color: $gray;
            border-radius: 50px;
            color: $white;
            font-size: 18px;
            text-transform: capitalize;

                &:hover{
                    background-color: $gray;
                    cursor: pointer;
                    color: $white;
                }
                span{
                    margin-left: 10px;
                }
        }
    }
}
