.proud-wrapper{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    text-align: center;
    padding: 150px;

    a{
        position: absolute;
        top: 150px;
        right: 300px;
        color: $white;
        font-size: 30px;

        :hover{
            color: $blue;
        }
    }

    
}
