.search-wrapper{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    text-align: center;
    padding: 220px;

    a{
        position: absolute;
        top: 170px;
        right: 570px;
        color: $white;
        font-size: 30px;

        :hover{
            color: $blue;
        }
    }

    form{
        display: block;
        margin: auto;

        input{
            height: 50px;
            width: 50%;
        }
    }
}