// Fonts
$roboto:'Roboto', sans-serif;
// Color
$black: black;
$white: white;
$gray: #848484;
$orange: #f97000;
$blue: blue;
$dark-grey: #252525;
$filter-grey: #8e8e8e;
$filter-active-bg:#f2f2f2;
$filter-active:#1c1c1c;
$filter-hover: #333;
$bg-grey: #151515;

// Breakpoints
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;