// Fonts
$roboto:'Roboto', sans-serif;
// Color
$black: black;
$white: white;
$gray: #848484;
$orange: #f97000;
$yellow: yellow;
$blue: blue;
$dark-grey: #252525;
$filter-grey: #8e8e8e;
$slider-grey: #5c5a5a60;
$filter-active-bg:#f2f2f2;
$filter-active:#1c1c1c;
$filter-hover: #333;
$bg-grey: #151515;
$red-cart:#d91c3c;

// Breakpoints
$xl: 1440px;
$lg: 1024px;
$md: 768px;
$sm: 575px;

@media (max-width:$md) {
    
}