.featured{
    display: flex;
    justify-content: center;
    color: $white;
    text-align: center;
    background-image: linear-gradient(to top, #1b1b1b 0%, #373737 100%);
    padding-bottom: 100px;
    
    
    @media (max-width:1050px) {
        width:100%;
    }
    @media (max-width:$md) { //768
        display: block;
    }
    
    
    &-item{
        margin-top: -160px;
        flex-grow: 1;
        z-index: 1;
        
        @media (max-width:$lg) {
            padding: 10px;
            margin-top: -100px;
        }
        @media (max-width:$md) {
            padding: 105px;
        }
        @media (max-width:$sm) {
            font-size: 14px;
            margin-top: 0;
            padding-top: 0px;
        }
        @media (max-width:1150px) {
    padding-left: 10PX;
        }

        img{
            width: 60%;

            @media (max-width:$xl) { //1440
                width:60%;
            }
            @media (max-width:$lg) { //1024
                width:80%;
            }
            @media (max-width:$md) { //768
                width:70%;
            }
            @media (max-width:$sm) { //575
                width: 100%;
            }
        }
        h2{
            font-weight: 500;
            @media (max-width:$md) {//768
                font-size: 40px;
                font-weight: 400;
            }
            @media (max-width:$sm) {//575
                font-size: 30px;
                font-weight: 400;
            }
        }
        h4{
            font-weight: 600;
            padding-bottom: 20px;
            color: $orange;
            @media (max-width:$md) {//768
                font-size: 30px;
                font-weight: 500;
            }
            @media (max-width:$sm) {//575
                font-size: 20px;
                font-weight: 500;
            }
        }

        p{
            max-width: 50%;
            margin: 0 auto;
            position: relative;
            @media (max-width:$xl) { //1440
                width:72%;
            }
            @media (max-width:$lg) { //1024
                font-weight: 400;
                max-width: 70%;
            }
            @media (max-width:$md) {//768
                font-size: 20px;
                max-width: 500px;
                
            }
            @media (max-width:$sm) {//575
                font-size: 19px;
                width: 100%;
            }
        }
        a{
        position: absolute;
        bottom: -12%;
        left: 33%;
        // text-align: center;
        padding: 10px 40px;
        background-color:rgba(242, 242, 242, 0.85);
        // margin: 0 auto;
        color: $dark-grey;
        border-radius: 50px;
        color: gray;
        font-size: 15px;
        text-transform: uppercase;

            &:hover{
                background-color: $white;
                cursor: pointer;
                color: $dark-grey;
            }
            
            @media (max-width:$xl) { //1440
                padding: 10px 20px;
                font-size: 14px;
                left: 32%;
            }
            @media (max-width:$lg) { //1024
                padding: 10px 20px;
                font-size: 13px;
                left: 26%;
            }
            @media (max-width:$md) {//768
                padding: 10px 50px;
                left: 35%;
                bottom: 5%;
            }
            @media (max-width:$sm) {//575
                padding: 10px 30px;
                font-size: 12px;
                left: 32%;
                bottom: 5%;
                margin: 0 20PX;
            }
            @media (max-width:375px) {//375
                padding: 10px 30px;
                font-size: 12px;
                left: 32%;
                bottom: 5%;
                margin: 0 -11PX;
            }

        }
    }
}
.roccat-science{
    
    
        h3{
            font-size: 24px;
            font-weight: 400;
            width: auto;;
            text-align: center;
            color: $white;
            padding: 100px 20px;
            
            
            @media (max-width:$lg) { //1024
                font-size: 20px;
            }
            @media (max-width:$sm) { //575
                font-size: 16px;
            }
        }
        h2{
            color: $white;
            text-align: center;
            font-size: 70px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 40px 10px;
            @media (max-width:$xl) { //1440
                font-size: 50px;
            }
            @media (max-width:$lg) { //1024
                font-size: 40px;
            }
            @media (max-width:$sm) { //575
                font-size: 35px;
            }
        }
    }
