section.products-list-keyboards{
    h1{
        font-size: 77px;
        text-align: center;
        letter-spacing: 4px;
        color: $white;
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 70px;
        margin-bottom: 20px;
    }

    .products-description{
        text-align: center;
        color: $gray;
        font-size: 16px;
        letter-spacing: 0.5px;
        padding-bottom: 50px;
    }
    .products-filter{
        color: $white;
        text-align: center;
        padding-bottom: 50px;

        li{
            display: inline-block;
            list-style: none;
            background-color: $dark-grey;
            color: $filter-grey;
            padding: 10px 20px;
            border-radius: 20px;
            margin-right: 10px;
            cursor: pointer;
            transition: 0.3s;

            &.active{
                background-color: $filter-active-bg;
                color: $filter-active;
                padding-bottom: 20px;
                //padding can i have bug
            }
            &:hover{
                color:$filter-active-bg;
                background-color: $filter-hover;
            }
        }
    }
    .products-wrapper{
        margin:0 auto;
        
        .pruduct-col{
            margin: 20px auto;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
        
        .products-shop-item{
            background: transparent radial-gradient(closest-side at 50% 50%,#2e2e2e 0,#191919 100%) 0 0 no-repeat padding-box;
            border-radius: 10px;
            height: 750px;
            width: auto;
            border: 2px solid transparent;
            transition: all .2s ease-in-out;
            position: relative;
            transition: 0.4s;
            margin-top: 40px;

            &:hover{
                border: 2px solid $filter-grey;
                cursor: pointer;
                transition: transform .7s;
                img{
                    transform: scale(1.08);
                }
            }
            
            img{
                padding: 20px;
                max-width: 380px;
                display: block;
                margin: auto;
            }

            .product-shop-desc{
                padding-left: 25px;
                padding-right: 25px;
                flex-grow: 1;

                h3{
                    color: $white;
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
                p{
                    color: $white;
                    font-size: 20px;
                    font-weight: 400;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    letter-spacing: 1px;

                    del{
                        color: $orange;
                        margin-left: 5px;
                        font-size: 18px;
                    }
                }
                ul{
                    padding-left: 15px;
                    padding-bottom: 20px;
                    color: $filter-grey;
                    margin-bottom: 30px;
                    font-size: 18px;
                }
            }
            a{
                position: absolute;
                bottom: 25px;
                margin-left: 30px;                
                text-align: center;
                padding: 15px 120px;
                background-color:rgba(242, 242, 242, 0.85);
                color: $dark-grey;
                border-radius: 50px;
                color: gray;
                font-size: 18px;
                text-transform: uppercase;

                &:hover{
                    background-color: $white;
                    cursor: pointer;
                    color: $dark-grey;
                }
            }
        }
    }
    }
}