section.products-info-keyboards{
    width: 100%;
    margin-top: 70px;

    .products-info-wrapper{
        width: 100%;
        padding: 0px 0 100px 0;
        

        .products-optical-keyboards{
            display: flex;
            background-color: #f9fAfb;
            height: 50%;
            @media (max-width:$md) {
                flex-wrap: wrap-reverse;
            }
            .optical-desc-holder{
                padding: 100px 0 100px 100px;
                background-color: #f9fAfb;
                @media (max-width:$md) {
                    padding: 100px 0 0px 100px;
                }
                h4{
                    font-size: 18px;
                    text-align: left;
                    text-transform: uppercase;
                    font-weight: 400;
                    @media (max-width:$md) {
                        text-align: center;
                        padding-right: 50px;
                    }
                }
                h2{
                    max-width: 950px;
                    text-transform: uppercase;
                    font-size: 64px;
                    text-align: left;
                    font-weight: 400;
                    @media (max-width:$md) {
                        font-size: 44px;
                        text-align: center;
                        padding-right: 50px;
                        max-width: 500px;
                        margin: 0 auto;
                    }
                } 
                p{
                    margin-top: 20px;
                    max-width: 670px;
                    font-size: 16px;
                    text-align: left;
                    line-height: 25px;
                    padding-right: 20px;
                    @media (max-width:$md) {
                        text-align: center;
                        margin-left: -45px;
                        padding-right: 30px;
                    }

                }
                a{
                    background-color: #dfff08;
                    padding: 10px 40px 10px 50px;
                    display: inline-block;
                    margin-top: 20px;
                    border-radius: 20px;
                    font-weight: 500;
                    font-size: 16px;
                    color: $black;
                    i{
                        padding-left: 15px;
                    }
                    @media (max-width:$md) {//768px
                        text-align: center;
                        margin: 50px 30%;
                    }
                    @media (max-width:$sm) {//575px
                        text-align: center;
                        margin: 50px 20%;
                    }
                }
            }
            .optical-image-holder{
                padding-right: 0px;
                padding-left: 50px;
                padding-top: 90px;
                @media (max-width:$md) {// 768px
                    padding-top: 20px;
                    padding-left: 100px;
                }
                img{
                    width: 60%;
                    height: 90%;

                    @media (max-width:$xl) { //1440px
                        width: 85%;
                        height: 85%;
                        
                    }
                    @media (max-width:$lg) { //1024px
                        padding-top: 90px;
                        width: 80%;
                        height: 60%;
                        
                    }
                    
                    @media (max-width:$md) {// 768px
                        width: 80%;
                        height: 90%;
                    }
                }
            }
        }
    }
    .products-special-keyboards{
        background-color: $black;
        h2{
            color: $white;
            text-transform: uppercase;
            font-weight: 400;
            padding-top: 100px;
            padding-left: 50px;
            font-size: 36px;
        }
        .special-holder{
            display: flex;
            padding-bottom: 60px;
            
            @media (max-width:$md) {// 768px
                display: block;
            }


            .col-one{
                flex-grow: 1;
                padding: 20px 50px;
                max-width: 900px;
                h3{
                    color: $white;
                    font-size: 24px;
                    font-weight: 400;
                }
                p{
                    color: $filter-grey;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: left;
                    padding: 5px 10px 20px 0;
                    a{
                        color: lighten($color: $filter-grey, $amount: 30);
                        font-weight: 500;
                    }
                }
            }
            .col-two{
                flex-grow: 1;
                padding: 20px 50px;
                max-width: 900px;
                h3{
                    color: $white;
                    font-size: 24px;
                    font-weight: 400;
                }
                p{
                    text-align: left;
                    padding: 5px 10px 20px 0;
                    color: $filter-grey;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;
                    a{
                        color: lighten($color: $filter-grey, $amount: 30);
                        font-weight: 500;
                        
                    }
                }
            }
        }
    }
}