.products-list{
    h1{
        font-size: 77px;
        text-align: center;
        letter-spacing: 4px;
        color: $white;
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 70px;
        margin-bottom: 20px;
    }

    .products-description{
        text-align: center;
        color: $gray;
        font-size: 16px;
        letter-spacing: 0.5px;
        padding-bottom: 50px;
    }
    .products-filter{
        color: $white;
        text-align: center;
        padding-bottom: 50px;

        li{
            display: inline-block;
            list-style: none;
            background-color: $dark-grey;
            color: $filter-grey;
            padding: 10px 20px;
            border-radius: 20px;
            margin-right: 10px;
            cursor: pointer;
            transition: 0.3s;

            &.active{
                background-color: $filter-active-bg;
                color: $filter-active;
            }
            &:hover{
                color:$filter-active-bg;
                background-color: $filter-hover;
            }
        }
    }
    .products-wrapper{
        padding: 0 100px;
        display: flex;

        .pruduct-col{
            width: 33%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .products-shop-item{
            background: transparent radial-gradient(closest-side at 50% 50%,#2e2e2e 0,#191919 100%) 0 0 no-repeat padding-box;
            border-radius: 10px;
            height: 730px;
            border: 2px solid transparent;
            transition: all .2s ease-in-out;
            
            img{
                padding: 20px;
            }

            .product-shop-desc{
                padding-left: 35px;

                h3{
                    color: $white;
                    font-size: 28px;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
                p{
                    color: $white;
                    font-size: 20px;
                    font-weight: 400;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    letter-spacing: 1px;
                }
                ul{
                    padding-left: 15px;
                    padding-bottom: 20px;
                    color: $filter-grey;
                    margin-bottom: 30px;
                    font-size: 18px;
                }
                a{
                    padding: 20px 120px;
                    background-color:rgba(242, 242, 242, 0.85);
                    color: $dark-grey;
                    border-radius: 50px;
                    color: gray;
                    font-size: 18px;
                    text-transform: uppercase;

                    &:hover{
                        background-color: $white;
                        cursor: pointer;
                        color: $dark-grey;
                    }
                }

            }
        }
    }
}