.products-hero-keyboards{
    background-image: url("../img/keyboards-hero.jpg");
    min-height: 480px;
    background-size: cover;
    margin-top: 50px;
    position: relative;

    &-info{
        position: absolute;
        top: 150px;
        left: 90px;

        span{
            background-color: $blue;
            padding: 10px 20px;
            color: $white;
            margin-bottom: 25px;
        }
        p{
            font-size: 28px;
            color: $white;
            text-transform: uppercase;
            padding-top: 20px;
        }
        h2{
            font-size: 60px;
            color: $white;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        a{
            color: $black;
            background-color:rgba(242, 242, 242, 0.85);
            padding: 15px 60px;
            border: 1px solid #2C2A34;
            border-radius: 50px;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 0.5px;
            
            &:hover{
                background-color: $white;
                cursor: pointer;
            }
        }
    }
}