section.products{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $white;

    h2{
        color: $black;
        max-width: 1000px;
        text-align: center;
        font-size: 58px;
        font-weight: 400;
        text-transform: uppercase;
        margin: auto;
        margin-bottom: 70px;
        
        @media (max-width:$sm) {
            font-size: 24px;
            padding: 15px;
        }
        @media (max-width:$md) {
            font-size: 30px;
            padding: 15px;
        }
    }
    .container{
        display: flex;
        justify-content: space-evenly;

        @media (max-width:$lg) {
            display: block;
            margin-left: 0px;
        }
        @media (max-width:$md) {
            display: block;
        }
        @media (max-width: $sm) {
            display: block;
        }
        

        .products-item{
            // background-repeat: no-repeat;
            height: 320px;
            width: 400px;
            color: $white;
            position: relative;
            background-size: cover;
            
            
            @media (max-width:$lg) {
                height: 750px;
                width: auto;
            }
            @media (max-width:$md) {
                height: 550px;
                width: auto;

            }
            @media (max-width: $sm) {
                display: block;

            }
            &:hover{
                transition: 0.5s;
                .overlay{
                    display: block;
                    background-color: rgba(0, 0, 0, 0.5);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                }
                -webkit-box-shadow: 0 10px 35px 5px #0e0d0d;
                box-shadow: 0 10px 35px 5px #0e0d0d;
            }

            &.products-kayboard{
            background-image: url("../img/products-1.jpg");
            }
            &.products-headset{
            background-image: url("../img/products-2.jfif");
            }
            &.products-mouse{
            background-image: url("../img/mouse.jpg");
            }
            &.products-mousepad{
            background-image: url("../img/mouse-pad.jpg");
            }
            
            .products-info{
                padding: 30px;

                h3{
                    font-size: 32px;
                    font-weight: 400;
                }
                p{
                    font-size: 18px;
                }
            }
    
            .overlay{
                display: none;
                background-color: rgba(0, 0, 0, 0);
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;

                a{
                    color: $black;
                    display: block;
                    margin-top: 45%;
                    background-color: $white;
                    width: 90px;
                    margin: 33%;
                    padding: 10px;
                    @media (max-width:$md) {
                        margin-left: 295px;
                    }       
                }
            }
        }
    }
    
}