section.products{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $white;
    #four{
        @media (max-width:$md) {
            display: none;
        }
    }
    h2{
        color: $black;
        max-width: 1000px;
        text-align: center;
        font-size: 58px;
        font-weight: 400;
        text-transform: uppercase;
        margin: auto;
        margin-bottom: 70px;
        
        @media (max-width:$sm) {
            font-size: 24px;
            padding: 15px;
        }
        @media (max-width:$md) {
            font-size: 50px;
            padding: 15px;
        }
    }
    
    /* Slideshow container */
.slideshow-container-product {
    width: 100%;
    position: relative;
    
    
  /* Hide the images by default */
    .mySlides-product {
        
        .product-items{
            display: flex;
            margin: 0 50px;
            @media (max-width:$lg) {
                margin: 0 30px;
            }
            @media (max-width:$md) {
                margin: 0 40px;
            }
            
            .producy-wrapper{
                height: 100%;
                width: 100%;
                position: relative;
                margin: 0 10px;
                h3{
                    position: absolute;
                    bottom: 25px;
                    left: 20px;
                    font-size: 25px;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.692);

                }
                .overlay{
                    display: none;
                }
                &:hover{
                    transition: 0.5s;
                    .overlay{
                        display: block;
                        background-color: rgba(0, 0, 0, 0.5);
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        @media (max-width:$xl) {
                            
                        }

                        a{
                            color: $black;
                            display: block;
                            margin: 36%;
                            background-color: $white;
                            padding: 10px 10px;
                            width: 80px;
                            border-radius: 20px;
                            &:hover{
                                background-color: $gray;
                            }

                        }
                    }
                    -webkit-box-shadow: 0 10px 35px 5px #0e0d0d;
                    box-shadow: 0 10px 35px 5px #0e0d0d;
                }
                
            }
            
            .mice{
                @media (max-width:$sm) {
                    display: none;
                }
            }
            .mice-twoSlide{
                @media (max-width:$sm) {
                    // display: none;
                }
            }
            .mousepads{
                @media (max-width:$md) {
                    display: none;
                }
                @media (max-width:$sm) {
                    display: none;
                }
            }
            .headsets{
                @media (max-width:$md) {
                    display: none;
                }
                @media (max-width:$sm) {
                    display: none;
                }
            }
            .keyboards-twoSlide{
                @media (max-width:$lg) {
                    display: block;
                }
                @media (max-width:$md) {
                    display: none;
                }
                @media (max-width:$sm) {
                    display: none;
                }
            }
            .mice-twoSlide{
                @media (max-width:$lg) {
                    display: block;
                }
                @media (max-width:$md) {
                    display: none;
                }
                @media (max-width:$sm) {
                    display: block;
                }
            }
            .mice-threeSlide{
                @media (max-width:$lg) {
                    display: block;
                }
                @media (max-width:$md) {
                    display: block;
                }
                @media (max-width:$sm) {
                    display: none;
                }
            }
            .mousepads-twoSlide{
                @media (max-width:$lg) {
                    display: block;
                }
                @media (max-width:$md) {
                    display: block;
                }
                @media (max-width:$sm) {
                    display: none;
                }
            }
            .headsets-twoSlide{
                @media (max-width:$lg) {
                    display: block;
                }
                @media (max-width:$sm) {
                    display: none;
                }
            }
            .keyboards-threeSlide{
                @media (max-width:$lg) {
                    display: block;
                }
                @media (max-width:$sm) {
                    display: none;
                }
            }
            .headsets-threeSlide{
                @media (max-width:$lg) {
                    display: block;
                }
                @media (max-width:$md) {
                    display: none;
                }
                @media (max-width:$sm) {
                    display: block;
                }
            }
            .mousepads-threeSlide{
                @media (max-width:$lg) {
                    display: block;
                }
                @media (max-width:$md) {
                    display: none;
                }
                @media (max-width:$sm) {
                    display: none;
                }
            }
            .mice-fourSlide{
                @media (max-width:$lg) {
                    display: block;
                }
                @media (max-width:$md) {
                    display: none;
                }
                @media (max-width:$sm) {
                    display: none;
                }
            }
            .mousepads-fourSlide{
                @media (max-width:$md) {
                    display: block; 
                }
                @media (max-width:$sm) {
                    // display: block;
                }
            }
        }
        .twoSlide{
            @media (max-width:$xl) {
                // display: none;
            }
            @media (max-width:$md) {
                display: flex;
            }
        }
        .threeSlide{
            @media (max-width:$xl) {
                // display: none;
            }
            @media (max-width:$md) {
                display: flex;
            }
        }
        .fourSlide{
            @media (max-width:$xl) {
                // display: none;
            }
            @media (max-width:$sm) {
                display: block;
            }
        }
    }
    
}
  /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        display: none;
        
        @media (max-width:$md) {
            display: block;
        }
    }

  /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
  /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    
 
  /* The dots/bullets/indicators */
    .dot-product {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: none;
        transition: background-color 0.6s ease;
        @media (max-width:$sm) {
            display: inline-block;
        }
    }
    .active, .dot:hover {
        background-color: #717171;
    }
    
  /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
}
