/* Slideshow container */
.slideshow-container {
    width:auto;
    position: relative;
    // margin: auto;
    height: auto;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 100%;

    .slides-des-1{
      @media (max-width:$xl) {

      }
      .images-holder-1{
          width: auto;
          background-image: url("../img/slide1.jpg");
          background-size:cover;
          background-position: center;
          height: 650px;
          @media (max-width:$xl) {
            height: 500px;
          }
      }
      .text {
        width: auto;
        color: #f2f2f2;
        font-size: 24px;
        padding: 15px 34%;
        margin: auto;
        position: absolute;
        bottom: 120px;
        text-align:center;

        @media (max-width:$xl) {
          font-size: 18px;
        }
        @media (max-width:$lg) {
          padding: 15px 25%;
          font-size: 17px;
        }
        @media (max-width:$md) {
          padding: 5px 28%;
          font-size: 17px;
        }
        @media (max-width:$sm) {
          padding: 5px 12%;
          font-size: 17px;
        }
      }
      h3{
        @extend .text;
        bottom: 300px;
        font-weight: 400;
        font-size: 50px;
        text-transform: uppercase;
        padding: 0 35%;
        margin-bottom: -25px;
        @media (max-width:$xl) {
          font-size: 42px;
          bottom: 240px;
        }
        @media (max-width:$lg) {
          font-size: 36px;
          bottom: 230px;
        }
        @media (max-width:$md) {
          font-size: 33px;
          bottom: 240px;
        }
        @media (max-width:$sm) {
          font-size: 25px;
          padding: 0 145px;
          bottom: 240px;
        }
        span{
          color: $yellow;
          font-weight: 500;
        }
      }
      a{
        position: absolute;
        bottom: 50px;
        right: 40%;
        left: 40%;
        //@media
        text-align: center;
        padding: 15px 120px;
        background-color:rgba(242, 242, 242, 0.85);
        margin: 0 auto;
        color: $dark-grey;
        border-radius: 50px;
        color: gray;
        font-size: 18px;
        text-transform: uppercase;
        @media (max-width:$xl) {
          padding: 10px;
          font-size: 18px;
        }
        @media (max-width:$md) {
          padding: 10px;
          font-size: 15px;
        }
        @media (max-width:$sm) {
          font-size: 13px;
        }

        &:hover{
            background-color: $white;
            cursor: pointer;
            color: $dark-grey;
        }
      }
    }

    .slides-des-2{
    
      .images-holder-2{
        width: auto;
        background-image: url("../img/slide-2.jpg");
        background-size:cover;
        background-position: center;
        height: 650px;
        @media (max-width:$xl) {
          height: 500px;
        }
    }
    img{
        width: auto;
        padding: 0px 16%;
        margin: auto;
        position: absolute;
        bottom: 290px;

        @media (max-width:$xl) {
          height: 170px;
        }
        @media (max-width:$lg) {
          height: 150px;
        }
        @media (max-width:$md) {
          height: 110px;
        }
        @media (max-width:$sm) {
          height:120px;
          padding: 0px 16%;
          bottom: 160px;
        }
  
    }
    .text {
      width: auto;
      color: #f2f2f2;
      max-width: 650px;
      font-size: 22px;
      padding: 0 150px;
      position: absolute;
      margin: 0 auto;
      bottom: 190px;
      text-align: center;

      @media (max-width:$xl) {
        font-size: 18px;
        width: 400px;
      }
      @media (max-width:$lg) {
        font-size: 17px;
        padding: 0 90px;
      }
      @media (max-width:$md) {
        font-size: 16px;
        padding: 0 70px;
        max-width: 300px;
        text-align: left;
      }
      @media (max-width:$sm) {
        font-size: 18px;
        padding: 0 50px;
        max-width: 500px;
        text-align: left;
        bottom: 70px;
      }
    }
    a{
        position: absolute;
        bottom: 100px;
        //@media
        left: 15.5%;
        text-align: center;
        padding: 15px 120px;
        background-color:rgba(242, 242, 242, 0.85);
        margin: auto;
        color: $dark-grey;
        border-radius: 50px;
        color: gray;
        font-size: 18px;
        text-transform: uppercase;

        @media (max-width:$xl) {
          font-size: 18px;
          padding: 10px 50px;
          left: 16%;
        }
        @media (max-width:$lg) {
          font-size: 16px;
          padding: 10px 40px;
          left: 19%;
        }
        @media (max-width:$md) {
          font-size: 15px;
          padding: 10px 20px;
          left: 9%;
          bottom: 110px;
        }
        @media (max-width:$sm) {
          font-size: 15px;
          padding: 10px 20px;
          right: 10%;
          left: 60%;
          bottom: 30px;
          margin: 0px;
        }

        &:hover{
            background-color: $white;
            cursor: pointer;
            color: $dark-grey;
        }
    }
  }

    .slides-des-3{

    .images-holder-3{
        width: 100%;
        background-image: url("../img/slide-4.jpg");
        background-size:cover;
        background-position: center;
        height: 650px;
        @media (max-width:$xl) {
          height: 500px;
        }
        
    }
    h3{
      position: absolute;
      color: $white;
      bottom: 250px;
      left: 150px;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 46px;
      letter-spacing: 4px;
      padding: 25px;
      margin: auto;
      max-width: 500px;

      @media (max-width:$xl) {
        font-size: 35px;
        bottom: 240px;
      }
      @media (max-width:$md) {
        font-size: 30px;
        left: 100px;
        bottom: 240px;
      }
      @media (max-width:$sm) {
        font-size: 28px;
        left: 50px;
        bottom: 180px;
      }

    }
    .text{
      position: absolute;
      color: $white;
      bottom: 150px;
      left: 150px;
      padding: 25px 35px 25px 25px;
      font-size: 20px;
      max-width: 600px;

      @media (max-width:$xl) {
        font-size: 18px;
      }
      @media (max-width:$md) {
        font-size: 18px;
        left: 100px;
        max-width: 500px;
      }
      @media (max-width:$sm) {
        font-size: 18px;
        left: 50px;
        bottom: 80px;
        max-width: 550px;
      }
    }
    a{
      position: absolute;
      bottom: 70px;
      left: 9%;
      text-align: center;
      padding: 15px 120px;
      background-color:rgba(242, 242, 242, 0.85);
      margin: auto;
      border-radius: 50px;
      color: gray;
      font-size: 18px;
      text-transform: uppercase;

      @media (max-width:$xl) {
        padding: 10px 50px;
        font-size: 18px;
        left: 12%;
      }
      @media (max-width:$lg) {
        padding: 10px 40px;
        font-size: 18px;
        left: 17%;
      }
      @media (max-width:$md) {
        padding: 10px 30px;
        font-size: 15px;
        left: 16%;
        bottom: 90px;
      }
      @media (max-width:$sm) {
        padding: 10px 20px;
        font-size: 14px;
        left: 38%;
        bottom: 40px;
      }

      &:hover{
          background-color: $white;
          cursor: pointer;
          color: $dark-grey;
      }
    }
  }
  }
  
  /* Next & previous buttons */
  .prev, .next {
    background-color: $slider-grey;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 10px 10px 0;
    user-select: none;
    @media (max-width:$xl) {
      padding: 25px;
    }
    @media (max-width:$lg) {
      padding: 20px;
    }
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 10px 0 0 10px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 2px;
    width: 60px;
    border-radius: 20px;
    margin: 30px 3px;
    background-color: #bbb;
    border-radius: 0;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
  
  .active, .dot:hover {
    background-color: $orange;
    height: 7px;
    border-radius: 20px;
    
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.8s;
    animation-name: fade;
    animation-duration: 1.8s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }