%text-comment{
    
    img{
        position: absolute;
        top: -20%;
        left: 20%;
        max-height: 95px;
        max-width: 85px;

        @media (max-width:$lg) {//1024
            left: 290px;
        }
        @media (max-width:$md) {//768
            left: 25%;
        }
        @media (max-width:$sm) {//575
            left: 40%;
            max-height: 8s5px;
            max-width: 75px;
        }
    }
    .message{
        // padding: 80px 80px 0px 80px;
        font-size: 20px;
        color: gray;
        font-style: italic;
        @media (max-width:$md) {//768
            // padding: 50px 0px 0px 90px;
        }
    }
    .name{
        color: gray;
        font-weight: 300;
        font-size: 20px;
        padding: 30px 0;
        @media (max-width:$md) {//768
            
        }

    }
    a{
        text-align: center;
        padding: 10px 2rem;
        background-color:rgba(25, 25, 25, 0.85);
        color: $white;
        border-radius: 50px;
        font-size: 18px;
        text-transform: capitalize;
        margin: 0px 140px;

        &:hover{
            background-color: $dark-grey;
            cursor: pointer;
            color: $white;
        }
    }
}
%slides{

    height: 100vh;
    position: relative;

    h2{
        color: $white;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 60px;
        position: absolute;
        right: 34.5%;
        top: 40px;
        padding-left: 50px;
        padding-right: 50px;
        
        @media (max-width:$xl) { //1440
            padding-left: 50px;
            right: 25.5%;
        }
        @media (max-width:$lg) {//1024
            padding-left: 70px;
            right: 10.5%;
            top: 20px;
            font-size: 50px;
        }
        @media (max-width:$md) {//768
            padding-left: 70px;
            right: 12.5%;
            top: 20px;
            font-size: 50px;
        }
        @media (max-width:$sm) {//575
            padding-left: 0px;
            right: 2.5%;
            top: 20px;
            font-size: 45px;
        }
    }
    img{
        height: 730px;
        width: 882px;
        padding-left: 160px;

        @media (max-width:$xl) {//1440
            padding-left: 150px;
            height: 60%;
            width: 50%;
        }
        @media (max-width:$lg) {//1024
            padding-left: 80px;
            height: 60%;
            width: 70%;
            
        }
        @media (max-width:$md) {//768
            width: 80%;
            height: 60%;
        }
        @media (max-width:$sm) {//575
            padding: 0;
            width: 100%;
            height: 55%;
        }
    }

}
%caption{
    background-color: $white;
    width: 31%;
    height: 35%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    border-radius: 50px;
    top: 300px;
    left: 50%;
    -webkit-box-shadow: 0 20px 35px 5px #0e0d0d;
    box-shadow: 0 20px 35px 5px #0e0d0d;
    
    &::after{
        content: " ";
        display: block;
        position: absolute;
        left: -25px;
        top: 50%;
        border-top: 26px solid transparent;
        border-right: 26px solid #ffffff;
        border-left: none;
        border-bottom: 26px solid transparent;

        @media (max-width:$lg) {//1024
            top: 20%;
        }
        @media (max-width:$md) {//768
            display: none;
        }
        @media (max-width:$sm) {//575
            display: none;
        }
    }
    //Size for caption
    @media (max-width:$lg) {//1024
        padding: 0;
        margin: 0;
        width: 50%;
        height: 30%;
        left: 40%;
    }
    @media (max-width:$md) {//768
        padding: 0;
        margin: 0;
        width: 70%;
        height: 30%;
        left: 15%;
        top: 50%;
    }
    @media (max-width:$sm) {//575
        padding: 0;
        margin: 0;
        width: 80%;
        height: 30%;
        left: 10%;
    }
}
.slideshow-container-three {
    width:100%;
    background-image: linear-gradient(to bottom, #000000 50%, #2A2A2A 50%);
    position: relative;
    margin: auto;
    height: auto;
    padding-top: 100px;
    }
    
  /* Hide the images by default */
    .mySlides-three {
        display: none;
        width: 100%;

    .slides-three-des-1{

        @extend %slides;

        .slide-three-caption{
            @extend %caption;

            .text{
                @extend %text-comment;
            }
        }
}

    .slides-three-des-2{
        @extend %slides;

        .slide-three-caption{
            @extend %caption;

            .text{
                @extend %text-comment;
            }
        }
}

    .slides-three-des-3{
        
        @extend %slides;
        
        .slide-three-caption{
            @extend %caption;

            .text{
                @extend %text-comment;
            }
        }
}

    .slides-three-des-4{

        @extend %slides;

    .slide-three-caption{
        
            @extend %caption;

            .text{
                @extend %text-comment;
            }
        }
    }

}


  /* Next & previous buttons */
    .prev-three, .next-three {
        background-color: $slider-grey;
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -39px;
        padding: 25px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 10px 10px 0;
        user-select: none;
    }

  /* Position the "next button" to the right */
    .next-three {
    right: 0;
    border-radius: 10px 0 0 10px;
    }

  /* On hover, add a black background color with a little bit see-through */
    .prev-three:hover, .next-three:hover {
    background-color: rgba(0,0,0,0.8);
    }  
  /* The dots/bullets/indicators */
    .dot-three{
        position: relative;
        top: -160px;
        cursor: pointer;
        height: 3px;
        width: 70px;
        border-radius: 20px;
        margin: 0px 2px;
        background-color: #bbb;
        border-radius: 0;
        display: inline-block;
        transition: background-color 0.6s ease;
        // transition: 0.2s;
    }
    
    .active, .dot-three:hover {
        background-color: $orange;
        height: 8px;
        border-radius: 20px;
    }
    
  /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1s;
        animation-name: fade;
        animation-duration: 1s;
    }
    
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }